.programma{
    height: 60%;
    width: 100%; 
    margin-top: 30px;
    margin-left: 0%;
    min-width: 800px;
    color:white;
    font-size: 1.9em;
}
.menu-items{
    position: relative;
   float: left;
    position: relative; 
    min-height:100px ;
    min-width: 250px;
    width: 33.33%;
    height: 65%; 
    border: 1px solid #fff;
    transition: 0.5s;
    box-shadow: 5px 8px 16px 0px rgba(0,0,0,0.3);
    border-radius: 6px;
    color: #fff;
    text-decoration: none; 
   text-align: left;   /*---------------------Ч/б фільтр------------------------------*/
}
.menu-items a:hover{
    text-decoration: underline;
}
.menu-items-bottom a:hover{
    text-decoration: underline;
}
.inner-menu-items_1:hover .items-place-for-h2{
animation: none;
  opacity: .9;
  height: 25%;
}

.inner-menu-items_2:hover .items-place-for-h2{
animation: none;
  opacity: .9;
  height: 25%;
}
.inner-menu-items_3:hover .items-place-for-h2{
animation: none;
  opacity: .9;
  height: 25%;
}
.items-place-for-h2{
    width: 100%;
    height: 25%;
    min-height: 80px;
    padding-top:2%;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    transition: .3s linear;
    border-radius: 6px;
}
.top-result-item{
    position: relative;
    float: left;
   font-size: 130%;
    color: #fff;
}
.bottom-result-item{
    position: relative;
    float: left;
    width: 90%;
    height: 20%;
    margin-bottom: 3%;
    margin-left: 15px;
    font-size: 150%;
    color: #fff;
}
.bottom-result-item a{
    color: #232323;
}
.bottom-result-item a:hover{
     color: black;
}

.menu-items-bottom{
     position: relative;
   float: left;
    position: relative; 
    min-height:100px ;
    min-width: 800px;
    width: 100%;
    height: 35%; 
    border: 1px solid #fff;
    transition: 0.5s;
    box-shadow: 5px 8px 16px 0px rgba(0,0,0,0.3);
    border-radius: 6px;
    text-decoration: none; 
     position: relative;
    background: url(../Images/results-summ.jpg)no-repeat center bottom ; 
    border-radius: 6px;
    transition: 1.2s ease;
-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    background-position: center;
    
    filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
   
}
.item-bottom{
  margin-left: 5%;
    margin-top: 3%;
    font-size: 150%;
}
.menu-items-bottom:hover{
filter: grayscale(0%);
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
}
.menu-items-bottom:hover{
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    -o-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
}

.left-place-for-h2{
    width: 15%;
    padding-left: 5px;
     padding-right: 5px;
    padding-top: 10%;
    height: 100%;
    color: #fff;
    float: left;
    background: rgba(0, 0, 0, 0.5);
    transition: .3s linear;
    border-radius: 6px;
}
.menu-items-bottom:hover .left-place-for-h2{
 animation: none;
  opacity: .9;
  width: 30%;
}
.item-bottom a{
    color:white;
}
.item-bottom a:hover{
    color:white;
}


